source_path = "\C:\\Users\Username\\Games\\Age of Empires 2 DE\\sequence_of_numbers\\resources\\_common\\scenario\\"
output_path = "C:\\Users\\Username\\Games\\Age of Empires 2 DE\\sequence_of_numbers\\resources\\_common\\scenario\\"
# output_copy_path = "C:\\Users\\Username\\Games\\Age of Empires 2 DE\\sequence_of_numbers\\mods\\local\\brandnewcannibal\\resources\\_common\\scenario\\CannibalEscape_v16.32.aoe2scenario"
output_copy_path = "C:\\Users\\Username\\Games\\Age of Empires 2 DE\\sequence_of_numbers\\resources\\_common\\scenario\\"
backup_path = "C:\\Cannibal Backup\\scenario\\"
#source_scenario_name = "CannibalSourceMap"
source_scenario_name = "CannibalSourceMapClasses"
target_scenario_name = "Cannibal_Escape_Lite_v"
major_version_no = "16"
minor_version_no = "8"
scenario_extension = "aoe2scenario"
input_path = f"{source_path}{source_scenario_name}.{scenario_extension}"